[Unit]
Description=LatLUG Website (Demo)
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/app/latlug
ExecStart=/usr/bin/docker run \
  --rm \
  --name latlug-web \
  -p 127.0.0.1:8001:80 \
  -v /app/latlug:/usr/share/nginx/html:ro \
  nginx:alpine

Restart=unless-stopped
RestartSec=10

[Install]
WantedBy=multi-user.target
